
footer{
    margin-top: 50px;
    min-height: 10vh;
background-image: linear-gradient(90deg , rgba(140, 140, 140, 0.658) , rgba(19, 12, 12, 0.756));
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
}

footer p{
    text-transform: capitalize;
    font-size: 1rem;
}

.get{
    padding: 10px 0;
}
footer section {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

 footer svg{
fill: white;

}

footer a{
    background: rgba(13, 13, 13, 0.693);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
footer .facebook svg{
    width: 25px;
    height: 25px;
    fill: white;
}
.whatsapp svg{
width:25px ;
height:25px ;
}


    
    .telegram svg{
        width:30px ;
        height:30px ;
        }
        
footer a{
    transition: 0.5s ease ;
}

footer a:hover{
transform: translateY(-10px);
}
