@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Lateef", serif;

  font-weight: bold;
}


header .logo{
  width: 130px;
}
body{
  background: rgb(15, 14, 14);
  overflow-x: hidden;
}
.menu{
position: absolute;
right: 0;
top: 35%;
padding-right: 10px;
}
.menu svg{
fill: rgb(255, 157, 0);

}
header{
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}


header .ul1{
  margin-right: 20px;
  min-width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
gap: 0 20px;

}

.servises_bord{
  border-bottom: 2px solid rgb(107, 107, 107);
}



header .ul1 li a{
  text-decoration: none;
  font-size: 0.9rem;

}
header .ul1 li .x:hover{
  border-bottom: 2px solid rgb(255, 255, 255);
}


.contact{
  background-color: goldenrod;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
}

.contact:hover{
background-color: gray;
}

@media (max-width:780px){

  header .ul1 .hide  {
      display: none;
  }

  
}

@media (max-width:550px){
header  .ul1{
      display: none;
  }

  header{
    justify-content: flex-end;
}
}


@media (min-width:780px){

  .menu{
        display: none;
    }
  }
  

  .ul2{
      position: fixed;
      background-color: rgba(58, 58, 58, 0.782);
      backdrop-filter: blur(10px);
      width: 250px;
      height: 100vh;
      list-style: none;
      right: 0;
      top: 0;
      display: none;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
  }
.ul2 .close {
  width: 90%;
  text-align: end;
}

.ul2 .close svg{
  cursor: pointer;
  fill: rgb(255, 157, 0);
}




  .ul2 li a{
      text-decoration: none;
  }

  header .ul2 li .x:hover{
      border-bottom: 2px solid rgb(255, 255, 255);
  }


/* ////////////////////////////////////////////////////// */

.choose{
  padding: 20px;
}

.choose p{
  position: relative;
  background-color: rgb(53, 53, 110);
  width: 150px;
  padding: 5px;
border-radius: 10px;
display: flex;
justify-content: space-between;
font-size: 0.9rem;
font-style: italic;

}

.choose ul{
  list-style: none;
  background-color: rgb(53, 53, 110);
  position: absolute;
  width: 150px;
  margin-top: 3px;
  text-align: center;
  border-radius: 10px;
  height: 18vh;
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 3px;

}
.up{
  text-align: end;
  padding-right: 5px;
  cursor: pointer;
}
.choose li{
  width: 100%;

}

.choose .shape{
border-radius: 10px;  
  width: 100%;
  padding: 5px;
}

.shape:hover{
background: goldenrod;
}

.choose li a{
  text-decoration: none;
  font-size: 0.9rem;
  font-style: italic;
}




/* //////////////////////////////////////// */


.language_menu .choose_language{
  display: flex;
align-items: center;
  width: 100%;
  flex-direction: column;
}

.language_menu .choose_language p{
  width: 150px;
  display: flex;
  justify-content: center;
align-items: center;
  border-radius: 5px;
padding-left: 5px;
font-size: 0.9rem;
font-style: italic;
}


.choose_language p strong{
  padding-right: 3px;
}


.language_menu .languages_menu_bar{
  border-radius: 5px;
  list-style: none;
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  width: 150px;
  height: 120px;
margin-top: 3px;

}

.language_menu .languages_menu_bar .hov{
border-radius: 10px;
    width: 90%;
    padding: 5px;
  
}
.language_menu .languages_menu_bar .hov:hover{
  

  background: goldenrod;


}
.language_menu .languages_menu_bar li a{
  text-decoration: none;
  font-size: 0.9rem;
  font-style: italic;
}
.language_menu .languages_menu_bar .up{
  text-align: end;
  padding-right: 3px;
  cursor: pointer;
}





  /* /////////////section1///////////////////////////////// */

.section1{
  margin-top: 100px;
padding: 10px;
line-height: 35px;
}
.section1 h1{
  font-size: 2rem;
}

.section1 h2{
  margin: 10px 0;
  font-size: 1.5rem;
}
.section1 strong{
  color: gold;
}



.section1 p{
  width: 90%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 0.9rem;

}

.section1 b{
  font-size: 1.4rem;
}




/* ///////////////////section2////////////////////////// */

.section2{
  line-height: 30px;

margin: 20px 0;
}


.section2 .content{
  margin-top: 10px;
}

.content p{
  color: rgb(42, 220, 244);
  font-size: 1.3rem;
}
.content li{
  padding-right: 10px;
  width: 95%;
  color: rgb(182, 179, 179);
  font-size: 1.1rem;

}





  /* //////section4///////////////////////////////////////////////// */


.section4{
    margin-top: 50px;
    width: 100%;
    min-height: 100vh;

}

.section4 h1{
    text-align: center;
    font-style: italic;
    font-size: 1.8rem;
}


.section4{
  display: flex;
  gap: 40px;
  flex-flow: wrap;
  justify-content: center;
}


  /* From Uiverse.io by Yaya12085 */ 

.pack_card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 2px solid rgb(99 102 241);
    padding: 1.5rem 1rem 1rem 1rem;
    margin-top: 1rem;
    background-color: #fff;
    max-width: 300px;
  }
  .pack_card:hover{
    transition: 1s ease;
    scale: 1.07;
  }

  

.gold{
    border: 2px solid goldenrod;
}
  .banner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -2rem;
    display: flex;
    justify-content: center;
  }
  
  .banner_tag {
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgb(99 102 241);
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
  }

  .red_banner{
    background-color: red;
  }

  .red{
    border: 2px solid red;
  }

  .gold_banner{
    background-color: goldenrod;
  }
  
  .pack_name {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: rgb(31 41 55 );
  }
  
  .description {
    margin: 0 auto 2rem auto;
    text-align: center;
    color: rgb(107 114 128 );
    font-size: 1.1rem;
  }
  
  .lists > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0.5rem;
  }
  
  .list {
    display: flex;
    gap: 0.5rem;
  }
  
  .list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    color: rgb(99 102 241 );
  }
  
  .list span {
    color: rgb(59, 67, 78);
    font-size: 1.2rem;
  }
  
  .bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .price_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.25rem;
  }
  
  .devise {
    align-self: flex-start;
    color: rgb( 75 85 99 );
  }
  
  .price {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: rgb(31 41 55 );
  }
  
  .date {
    color: rgb(107 114 128 );
  }
  
  .btn {
    display: block;
    border-radius: 0.5rem;
    background-color: rgb(99 102 241 );
    padding: 0.75rem 2rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #fff;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: all .1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn_gold{
    background-color: rgb(255, 183, 0);
  }
  .btn_gold:hover {
    background-color: rgb(255, 228, 73);
  }
  .btn_gold:active {
    background-color: rgb(142, 130, 63);
  }


  .btn_red{
    background-color: rgb(255, 0, 0);
  }

  .btn_red:hover {
    background-color: rgb(255, 72, 72);
  }
  .btn_redy:active {
    background-color: rgb(172, 58, 58);
  }


  .btn_blue:hover {
    background-color: rgb(79 70 229 );
  }
  
  .btn_blue:active {
    background-color: rgb(67 56 202 );
  }



  /* ///////////////////////////////////////////////////////////// */


